.cards {
  padding: 0rem 3rem;
}

.cards-header {
  display: flex;
  justify-content: space-between;
}

.cards-header button {
  background-color: rgb(142, 162, 189);
  color: #fff;
}

.cards-header h3.ant-typography {
  color: #0097c2;
}

.cards-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem auto;
}

#card1 .ant-card-body,
#card1 .ant-card-actions {
  background-color: #0a488f !important;
}
#card2 .ant-card-body,
#card2 .ant-card-actions {
  background-color: #579064 !important;
}
#card3 .ant-card-body,
#card3 .ant-card-actions {
  background-color: #950000 !important;
}
#card4 .ant-card-body,
#card4 .ant-card-actions {
  background-color: #8f6c0a !important;
}

.cards-body div {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 18px;
  margin-bottom: -3px;
}

.cards-body ul,
.cards-body ul li span {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: default !important;
}

.ant-space-item .anticon {
  cursor: pointer !important;
}

.ant-card-body,
.ant-card-actions {
  cursor: text !important;
}

.ant-card-actions,
.ant-card-actions li {
  border: none !important;
  cursor: text !important;
}

.ant-card-meta-detail .ant-card-meta-title,
.ant-card-meta-detail .ant-card-meta-description {
  color: #fff !important;
}

.cards-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
